---
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import { siteConfig } from "../config";
import "../styles/global.css";

const { title } = Astro.props;
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <meta name="description" content={siteConfig.description} />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:ital,wght@0,400;0,600;0,700;1,400&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined" />
    <title>{title ? `${title} | ${siteConfig.name}` : siteConfig.name}</title>
  </head>
  <body class="bg-white text-black min-h-screen flex flex-col font-['IBM_Plex_Mono']">
    <Header />
    <main class="flex-grow pt-24 px-4 sm:px-8 max-w-6xl mx-auto w-full">
      <slot />
    </main>
    <Footer />
  </body>
</html>

<style is:global>
  /* Neobrutalism Global Utilities */
  .neo-box {
    border: 3px solid black;
    background-color: white;
    box-shadow: 6px 6px 0px 0px black;
    transition: all 0.2s ease-in-out;
  }

  .neo-box:hover {
    transform: translate(-2px, -2px);
    box-shadow: 8px 8px 0px 0px black;
  }

  .neo-button {
    border: 3px solid black;
    box-shadow: 4px 4px 0px 0px black;
    font-weight: bold;
    text-transform: uppercase;
    transition: all 0.1s ease;
  }

  .neo-button:active {
    transform: translate(4px, 4px);
    box-shadow: 0px 0px 0px 0px black;
  }
</style>
